# Secrets (NEVER PUSH THESE)
.env
.env.*
*.env
*.json
# Specific Firebase Keys
*-firebase-adminsdk-*.json
rotaai-49847-d923810f254e.json
service-account-*.json
credentials.json
!package.json
!vercel.json
!firebase.json

# Large Data & Binaries (Fixes the 250MB limit)
*.xlsx
*.db
*.ics
*.txt
!requirements.txt
*.md
rota.db
reachcalendar.ics
GV*.xlsx
temp_rota.xlsx

# Dependencies
node_modules/
frontend/node_modules/
dist/
frontend/dist/
__pycache__/
*.pyc
.vercel
.firebase
fix_git.bat
