.env
*.env
# Ignore the specific Firebase key but keep other json files
rotaai-49847-firebase-adminsdk-*.json

node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist_root/
public/
__pycache__/
*.pyc
.vercel
.firebase
rota.db
